{% assign large-height = 396 %}
{% assign medium-wide-height = 422 %}
{% assign medium-height = 398 %}

<svg class="git-graph formation__git-graph" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 170 396">
  <defs>
    <linearGradient id="gitGraphGradient">
      <stop offset="0%" stop-color="#8acb82" />
      <stop offset="100%" stop-color="#65b95a" />
    </linearGradient>
  </defs>
  <g class="icons">
    <image xlink:href="{{ site.baseurl }}/img/guitar.png" x="5" y="395" height="36px" width="35px"/>
    <image xlink:href="{{ site.baseurl }}/img/computer.png" x="40" y="390" height="40px" width="40px"/>
  </g>
  <g class="paths">
    <path class="dashed-path" d="M 20,40 L 20,396" />
    <path class="dashed-path" d="M 60,40 L 60,396" />
    <path class="career-path" d="M 60,396 L 60,110 20,70 20,40" />
  </g>
  <g class="timeline">
    <text class="timeline-title" x="90" y="55" transform="rotate(-30 60,40)">{{ site.data.cv.content.formations.title[page.lang] }}</text>
    <path class="timeline-path" d="M 120,29 L 120,396 170,367 170,0" fill="url(#gitGraphGradient)" />
  </g>
</svg>
